*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circulo{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}
.uno{
    background-color: black;
}
.dos{
    background-color: grey;
}